.container {
    padding: 160px 0;
}

.login {
    width: 280px;
    height: 270px;
    background-color: #fbba72;
    margin: 0 auto;
    position: relative;
    border: 2px solid #8f250c;
}

.ghost {
    width: 200px;
    padding: 8px;
    color: #fff;
    border: 1px solid #fff;
    text-align: center; 
    outline: #fbba72;
    margin-bottom: 10px;
    font-size: 15px;
    color: black;
    cursor: pointer;
}

.center {
    margin: 0 auto;
    width: 200px;
}

.user {
    width: 120px;
    margin: 0 auto;
}

.user img {
    width: 100px;
    margin: 12px 0px;
}

.btn {
    width: 120px;
    padding: 8px;
    color: black;
    border: 1px solid #fff;
    text-align: center;
    font-size: 15px;
}

.xbtn {
    float: right;
}

.login .xbtn img {
    width: 30px;
    border-radius: 100px;
    border: 2px solid #8f250c;
    background-color: #fbba72;
}